.input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    outline: none;
    border: 0px;
    font-size: 1rem;
    height: 3.5rem;
    font-weight: 600;
    transition: all 0.24s ease-in-out;
}

textarea.input {
    min-height: 8rem;
    padding-top: 1rem !important;
}

.input::placeholder {
    color: rgb(181, 181, 181);
    font-weight: 400;
}

.input:hover::placeholder {
    color: rgb(168, 168, 168);
}

.input.--m {
    height: 3rem;
    font-size: .875rem;
}

.input.--l {
    height: 4.5rem;
    font-size: 1.125rem;
}


.input.--border {
    padding: 0 1.5rem;
    border: .125rem solid rgb(52, 52, 52);
    border-radius: .5rem;
}

.input.--border:hover {
    border: .125rem solid #000000;
}

.input.--border:focus {
    box-shadow: 0px .5rem 2rem rgba(0, 0, 0, 0.08);
    border: .125rem solid var(--color__fill-1);
}


.input.--fill {
    padding: 0 1.5rem;
    border-radius: .5rem;
    border: .125rem solid transparent;
    background-color: var(--color__fill-4);
}

.input.--fill:hover {
    border: .125rem solid transparent;
    background-color: var(--color__fill-4-h);
}

.input.--fill:focus {
    box-shadow: 0px .5rem 2rem rgba(0, 0, 0, 0.08);
    border: .125rem solid var(--color__dark);
    background-color: white;
}

 
.input.--border-bottom {
    border-bottom: .125rem solid var(--color__border);
}

.input.--border-bottom:hover {
    border-bottom: .125rem solid var(--color__fill-4-a) !important;
}

.input.--border-bottom:focus {
    border-bottom: solid var(--color__fill-1) !important;
}

.input__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.input__wrap .input__title {
    /* margin-bottom: 1rem; */
    font-weight: 600;
    font-size: 1rem;
}

.input__wrap .input__error {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    color: red;
    font-weight: 600;
    font-size: 0.875rem;
}

.input__wrap.--error .input__error {
    display: block;
}

.input__wrap.--error .input {
    border-bottom: .185rem solid red;
    color: red;
}

.input__wrap.--error .input::placeholder {
    color: red;
}

.input__wrap.--2-coll {
    width: calc(50% - 1rem);
}

.input.--textarea {
    padding-top: 1.5rem;
    min-height: 7.25rem;
}

.input__wrap.--error .input__title {
    color: red;
}

.input__wrap.--error .input::placeholder {
    color: red;
}

.big-input {
    position: relative;
}

.big-input__title {
    position: absolute;
    top: 50%;
    height: 1.5rem;
    margin-top: -.75rem;
    left: 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: .32;
    transition: all ease .24s;
    line-height: 1.5rem;
    pointer-events: none;
}

.big-input__input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    outline: none;
    border: 0px;
    height: 5.5rem;
    transition: all 0.24s;
    padding: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    box-shadow: inset 0 -.25rem 0 0 rgb(255 255 255 / 16%);
    color: white;
}

.attach-resume__input{
    padding: 0px;
    padding-top: 2rem;
    margin: 0px;
    width: 100%;
    outline: none;
    border: 0px;
    height: 5.5rem;
    transition: all 0.24s;
    padding: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
}

input.big-input__input.--password {
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem) center;
    background-size: 2rem auto;
}

.big-input:focus-within .big-input__title,  .big-input.is-has  .big-input__title {
    opacity: .2;
    top: 1.5rem;
    font-size: .875rem;
}

.big-input:focus-within .big-input__title {
    opacity: .5 !important;
}

.big-input.is-has .big-input__title {
    opacity: .5;
}

.big-input__input:hover {
    box-shadow: inset 0 -.25rem 0 0 rgba(255, 255, 255, 0.24);
}

.big-input__input:focus {
     
}

.big-input__input::placeholder {
    color:transparent;
}

.big-input:focus-within .big-input__input::placeholder {
    color:#B2B2B2;
}

.big-input:focus-within .big-input__input {
    box-shadow: inset 0 -.25rem 0 0 white;
    
}

.big-input:focus-within .big-input__input, .big-input.is-has .big-input__input {
    padding-top: 1.25rem;
}

.big-input__title.--error {
    display: none;
    right: 2.5rem !important;
    left: inherit;
}

.big-input__error-wrap {
    display: none;
    position: absolute;
    text-align: right;
    left: 0;
    top: 0px;
    width: 100%;
    margin-top: 1rem;
    color: red;
    pointer-events: none;
}


.big-input.--error .big-input__input {
    box-shadow: inset 0px -.25rem 0px 0px  red;
    color: red;
}

.big-input.--error .big-input__title {
    color: red;
    opacity: .5;
}

.big-input.--error .big-input__error-wrap {
    display: block;
}

.big-input.--error .big-input__input::placeholder {
    color: var(--color__fill-1);
}

.big-input.--message:focus-within .big-input__input.--message {
    padding-top: 3rem;
}

.big-input.--message .big-input__title {
    top: 2.5rem;
}

.big-input.--message:focus-within .big-input__title {
    top: 1.75rem;
}

.big-input.--message.is-has .big-input__input.--message {
    padding-top: 3.5rem !important;
}

.js-mask__tell {
    color: transparent;
}

.js-mask__tell:focus {
    color: var(--color__fill-1);
}

.big-input:focus-within textarea.big-input__input, .big-input.is-has textarea.big-input__input {
    padding-top: 2.5rem;
}




@media screen and (max-width: 1024px) {  

}

@media screen and (max-width: 990px) {      

    .big-input__error-wrap {
        left: inherit;
        right: 1.5rem;
        width: 12rem;
        text-align: right;
        margin-top: 1.25rem;
    }

}

@media screen and (max-width: 768px) {  

}

@media screen and (max-width: 640px) {  

    .input__wrap.--2-coll {
        width: 100%;
    }

    .big-input.--error {
        margin-top: 5rem;
    }

    .big-input.--error .big-input__error-wrap {
        top: -3.5rem;
        margin-top: 0;
        right: 0px;
        text-align: left;
        right: inherit;
        left: 0px !important;
        margin-left: 0px;
    }

}